body {
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
    color: #40514E;
}

h1 {
    margin: 50px auto 0 auto;
    font-family: 'Sacramento', cursive;
    font-size: 5.625rem;
    color: #66BFBF;
    /* line-height: 2; */
    /*To get the dynamic size we need to use %. Typically 100% means 16px, so 90px means around 500%
    Similarly 1em = 16px = 100%. So 90px = 5.62em   But em and % are dependent on their parent. if in body fontsize is 
    specified 2em, and here we specify it as 5em that 5em will add upon that 2em and our text becomes gigantic. To avoid this we use rem
    which means root em -> ignore parent's font-size*/
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    color: #66BFBF;
    font-weight: normal;
    padding-bottom: 10px;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
}


hr {
    border: 6px dotted #EAF6F6;
    border-bottom: none;
    width: 4%;
    margin: 100px auto;
}

p {
    line-height: 2;
}

/*top container*/
.top-container {
    /* height: 200px;
    width: 200px; */
    background-color: #E4F9F5;
    padding: 20px;
    /* border: 10px solid black; */
    position: relative;
    padding-top: 100px;
}

/*mid container*/
.middle-container {
    margin: 100px 0;
}

.intro {
    width: 30%;
    margin: auto;
}

/*bottom container*/
.bottom-container {
    background-color: #66BFBF;
    padding: 60px 0 20px;
}

/*span tag which is used to select one part of the text in order to style or format it differently.
span is an inline display element. it takes up space only it is needed unlike block level elements which take up the whole screen width.*/
.pro {
    text-decoration: underline;
}

/*bottom cloud*/
.bottom-cloud {
    position: absolute;
    left: 250px;
    bottom: 300px;
}

.top-cloud {
    position: absolute;
    top: 40px;
    right: 300px;
}

/*skills section*/
.skill-row {
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    /* line-height: 2;   we will add this to p tag so that it is everywhre in the page */
}

.code-img {
    width: 25%;
    float: left;
    margin-right: 30px;
}

.web-img {
    width: 25%;
    float: right;
    margin-left: 30px;
}

.contact-mssg {
    width: 40%;
    margin: 40px auto 60px;
}

.btn {
    background: #11999E;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

.btn:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
}

/*footer section*/
.copyright {
    color: #EAF6F6;
    font-size: 0.75rem;
    padding: 20px 0;
}

a {
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
    margin: 10px 20px;
    text-decoration: none;
}

a:hover {
    color: #EAF6F6;
}